* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
font-family: 'Roboto', sans-serif;
}


/* HEADER */

.header {
  background-color: #555;
  top: 0;
  border-bottom: 15px 20px;
  position: sticky;
  z-index: 1000;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.logo a {
  color: #333;
  text-decoration: none;
  font-size: 24px;
  font-weight: 700;
}

.menu-toggle {
background: none;
border: none;
color: #333;
cursor: pointer;
font-size: 28px;
display: none;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 20px
}

.nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease ;
}

.nav ul li a:hover {
  background-color: #007bff;
  color: #ffffff;
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
    z-index: 1002;
  }
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    color: white;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
  } 
  .nav.open {
    transform: translateY(0);
  }
  .nav ul{
    flex-direction: column;
    gap: 30px;
    text-align: center;
  }
  .nav li a {
    font-size: 24px ;
    color: #fff;
  }
  .backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  .backdrop.show {
    display: block;
    opacity: 1;
  }
}


/* SIGN UP FORM */

.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  background-color: #f0f2f5; 
}

.signup-form {
  background-color: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
}

.signup-form h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 28px;
  color: #333;
}

.signup-button {
  display: block;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
}

.signup-button:hover {
  background-color: #0056b3;
}

.signup-container p {
margin-top: 15px;
}

.signin-link {
  margin-left: 5px;
  text-decoration: none;
  font-weight: bold;
  color: #007bff;
}



/* SIGN IN FORM */

.signin-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  background-color: #f0f2f5;
}

.signin-form {
  background-color: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
}

.signin-form h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 28px;
  color: #333;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  color: #555;
}

.input-group input {
  width: 100%;
  padding: 14px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
  transition: border-color 0.3s;
}

.input-group input:focus {
  border-color: #007bff;
  outline: none;
}

.signin-button {
  display: block;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 14px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
}

.signin-button:hover {
  background-color: #0056b3;
}



/* INTRO */

.intro-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px 20px;
  min-height: 80vh;
}

.intro-container h2 {
  font-size: 32px ;
  color: #333;
  margin-bottom: 20px;
}

.intro-container p {
  font-size: 18px ;
  color: #555;
  margin-bottom: 40px;
  max-width: 600px;
}

.intro-button {
  padding: 15px 30px;
  background-color: #1a7caa;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.intro-button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .intro-container {
    font-size: 28px;
  }
  .intro-container p{
    font-size: 16px;
    margin-bottom: 30px;
  }
  .intro-button {
    padding: 12px 25px;
    font-size: 14px;
  }
}

/* FEATURES */

.feature {
  max-width: 1200px;
  padding: 20px;
  text-align: center;
  margin: 0 auto;
}

.feature h3 {
  font-size: 2rem;
  margin-bottom: 40px;
  color: #333;
  font-weight: 700;
 }

 .feature-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
 }

 .feature-item {
  background-color: #f4f4f4;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
 }

 .feature-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
 }

 .feature-icon {
  font-size: 3rem;
  color: #1a7caa;
  margin-bottom: 20px;
 }

 .feature-item h4 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 10px;
 }

 .feature-item p {
  font-size: 1rem;
  color: #555;
 }

 @media (max-width: 768px) {
  .feature {
    padding: 10px;
  }
  .feature h3 {
    font-size: 1.75rem;
  }
  .feature-item h4 {
    font-size: 1.25rem;
  }
  .feature-item p {
    font-size: 0.95rem;
  }
 }


/* HOW IT WORKS */

.how {
  max-width: 1200px;
  padding: 20px;
  text-align: center;
  margin: 0 auto;
}

.how h3 {
  font-size: 2rem;
  margin-bottom: 40px;
  color: #333;
  font-weight: 700;
 }

 .how-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
 }

 .how-item {
  background-color: #f4f4f4;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
 }

 .how-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
 }

 .how-item h4 {
  font-size: 1.5rem;
  font-weight: 300;
  color: #333;
  margin-bottom: 10px;
 }

 .how-item p {
  font-size: 1rem;
  color: #555;
  line-height: 1.6;
 }

 @media (max-width: 768px) {
  .how {
    padding: 10px;
  }
  .how h3 {
    font-size: 1.75rem;
  }
  .how-item h4 {
    font-size: 1.25rem;
  }
  .how-item p {
    font-size: 0.95rem;
  }
 }


/* FOOTER */

.footer {
  background-color: #555;
  color: white;
  padding: 40px 20px;
  display: flex;
  justify-content: space-around;
  text-align: left;
  flex-wrap: wrap;
}

.footer-section{
  margin-bottom: 20px;
  max-width: 300px;
}

.footer h3 {
  font-size: 1.8rem;
  margin-bottom: 15px;
  color: #1a7caa ;
  font-weight: 700;
}

.footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer ul li {
  margin-bottom: 10px; 
}

.footer ul li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
  }

.footer ul li a:hover {
  text-decoration: underline; }


@media (max-width: 768px) {
  .footer {
    text-align: center;
    padding: 30px, 10px;
  }

  .footer-section {
    max-width: none;
    margin: 30px
  }

  .footer h3 {
    font-size: 1.6rem;
  }

  .footer ul li a {
    font-size: 1.1rem;
  }
}

  